/*4allPage*/
* {
	margin: 0;
	padding: 0;
}
header {
	border-radius: 5px;
	border-bottom: 7px solid #0078D7;
	margin-bottom: 100px;
}

#logo {
	font-family: 'Comfortaa', sans-serif;
	font-size: 45px;
	text-align: center;
	color: #0078D7;
}

#result {
	font-family: 'Comfortaa', sans-serif;
	font-size: 70px;
	text-align: center;
	margin-bottom: 100px;
	color: #0078D7;
}

.button {
	text-align: center;
}

.button a {
	font-size: 45px;
	font-family: 'Comfortaa', sans-serif;
	color: #0078D7;
	background-color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 15px;
	box-shadow: 4px 4px #0078D7;
	transition-duration: 0.5s;
	border: 3px solid #0078D7;
}

.button a:hover {
	font-size: 40px;
	font-family: 'Comfortaa', sans-serif;
	color: #ccc;
	background-color: #0078D7;
	text-decoration: none;
	padding: 5px 50px;
	border-radius: 15px;
	box-shadow: 0px 0px #0078D7;
	transition-duration: 0.5s;
}